


/* utilities */
.debug{
  border: 1px solid black;
  background-color: rgba(101, 181, 39, 0.634);
}

:root{
  --bgphotocolor-- : #ffffff;

}

/* /utilities*/

body{
  background-image: url(../img/cork.png);
  background-size: contain;
  
  
}

header{
  height: 150px;
  background-image: url(../img/wall.png);
  background-size: contain;
  padding-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header h1{
  font-size: 5.6rem;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#overlay{
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.image-overlay{
  width: 600px;
  height: 600px;
}

main .container{
  margin-top: 50px;
  max-width: 960px;
}



.photocard{
  height: 360px;
  width: 300px;
  padding: 15px;
  background-color: var(--bgphotocolor--);
  position: relative;
  box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  border-radius: 2px;
  transition: ease;
  transition-duration: 0.3s;
}

.photocard:hover{
  scale: 1.2;
  rotate: 10deg;
  box-shadow: 6px 6px 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
  cursor: pointer;
}

.pin-image{
  position: absolute;
  top: -12px;
  right: calc(250px/2);
}

.image-container{
  width: 265px;
  height: 265px;
  margin-bottom: 15px;
}


.text-container{
  font-family: "Send Flowers", cursive;
  font-size: 1.2rem;
  text-transform: capitalize;
}